div.published-content img { 
  display: block;
  margin: 12px auto;
  max-width: 100%;
  height: auto; 

    }
div.published-content ul li::marker { 
color: #1d2021;
    }
/* ===============
  style aboutme page
=================*/  
#about-me {
    max-width: 100% !important;
}
#about-me ul li::marker {
    color: #1d2021;
}  



