/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/public/images/*
/storage/app/public/uploads/*
/storage/app/public/avatars/*
/storage/app/public/covers/*

!/storage/app/public/images/.gitkeep
!/storage/app/public/uploads/.gitkeep
!/storage/app/public/avatars/.gitkeep
!/storage/app/public/covers/.gitkeep

!/storage/app/public/avatars/default.jpg
!/storage/app/public/covers/sunset.jpg

/storage/posts.index
/storage/posts.index-shm
/storage/posts.index-wal
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode