@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,body{
  font-family: 'Poppins',sans-serif !important;
  overflow-x: hidden;
}

.hero-bg-image{
 background: url("aditya-chinchure-XRhUTUVuXAE-unsplash.jpg") no-repeat center center /cover;
 background-attachment: fixed;
 filter: brightness(0.9);
 height: 600px;
} 


@media only screen and (max-width:500px){

}
.con{
 margin-left: 15px;
}
@media only screen and (max-width:500px){
.con{
 margin-top: 15px;
}
}

.lemon:not(:first-child)::before{
content: " | ";
margin-inline: 0.5rem;
}
#hiddenul2 {
 display: block;
 position: absolute;
 box-shadow: 0 5px 25px 0 rgb(0 0 0 / 60%);
 padding: 1rem;
 border-radius: 0.5rem;
 color: #3d4a59;
 background-color: #fff;
 transform: translateX(-8px);
 cursor: pointer;
 line-height: 30px;
 text-align: center;
 min-width: 140px;
 z-index: 70;
 margin-top: 28px;


}




.heart {
 font-size: 30px;

 animation-name: fall;
 animation-duration: 1s;
 animation-iteration-count: 1;
 animation-timing-function: linear;
 animation-fill-mode: forwards;

 position: fixed;
 top: 0;
 left: 300px;
}

@keyframes fall {
 0% {
   transform: translateY(-5vh);
 }

 100% {
   transform: translateY(110vh);
 }
}

.popup{
  position: fixed;
  top: 13px;
  right: 50%;
  transform: translateX(50%);
  transition: transform 0.5s ease;
  background-color: rgb(65, 67, 65);
  color: #fff;
  border-radius: 5px;
  font-size: 23px;
  font-weight: 600;
  padding: 14px;
  text-transform: capitalize;
}

main.admin.collapsed {
  grid-template-columns: 0% 100%;
}

main.admin.collapsed aside {
  transform: translateX(-40vw);
opacity: 0;
}

main.admin.collapsed section {
  width: 100%;
}
.active{
  background-color: #2888fe !important;
}