div.published-content img { 
  display: block;
  margin: 12px auto;
  max-width: 100%;
  height: auto; 

    }



/* ===============
  styles for prism
=================*/

/* Pre block */
pre[class^="language-"] {
  border-radius: 0.5rem;
  background: #000000db !important;
}

